* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.geral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(228, 228, 228);
}   
.formulario h3{
    padding-top: 10px
}

.formulario button{
    padding: 15px 80px;
    border: none;
    border-radius: 10px;
    cursor: pointer
}
.formulario button:hover{
    background-color: rgb(66, 113, 255);
    color: white;
}

input, input[disabled]{
    width: 300px;
    height: 40px;
    font-size: 15px;
    border: none;
    background-color: white;
    padding: .375rem .75rem;
}
.alert-sucess{
    width: 400px;
    background-color: rgb(60, 202, 60);
    text-align: center;
    margin-top: 10px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}