*{
    padding: 0;
    margin: 0;
    font-family: 'Baloo Thambi 2', cursive;
}
.tudo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 270px;
    background-color: rgb(64, 202, 106);
}
.formulario{
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    padding: 20px 15px;
    border-radius: 20px;
    background-color: white;
}
.formulario form, input, button{
    width: 250px;
    outline: none;
    border: none;
}
.formulario form input{
    height: 40px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.formulario form button{
    height: 30px;
    border-radius: 10px;
}
.formulario form button:hover{
    background-color: rgb(52, 107, 216);
    color: white;
}
.dados{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dados img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
hr{
    width: 99.8%;
}
.usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
table tbody tr{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1px solid gray;
}